/** login page css **/
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000;
  background: radial-gradient(ellipse at center, rgba(229, 229, 229, 0) 0%, rgba(92, 92, 92, 0) 45%, rgb(0, 0, 0) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00e5e5e5", endColorstr="#000000",GradientType=1 );
}

.login-page .login-logo {
  position: absolute;
  top: 0;
  width: 360px;
}
.login-page .login-box {
  width: 360px;
  margin: 15% auto;
}
.login-page .login-box .line-top {
  position: inherit;
}
.login-page .login-box .input-group.captcha {
  margin-bottom: 10px;
}
.login-page .login-box .input-group.captcha .captcha-image {
  padding: 0;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}
.login-page .login-box .input-group.captcha .captcha-refresh {
  border-radius: 0 10px 10px 0;
  overflow: hidden;
}
.login-page .login-box .input-group.captcha .captcha-refresh a {
  color: #ffc107;
}
.login-page .login-box .input-group.captcha .form-control {
  border-left: unset;
  border-right: unset;
}
.login-page .login-box .input-group.captcha:focus-within .form-control, .login-page .login-box .input-group.captcha:focus-within .input-group-addon {
  border-color: #ffc107;
}
.login-page .login-box .input-group .input-group-addon {
  border-radius: 0;
  border-color: #d2d6de;
  background-color: #fff;
}
.login-page .login-box .input-group .input-group-addon:first-child {
  border-right: 0;
}
.login-page .login-box .form-control {
  border-radius: 10px;
}
.login-page .login-box .form-control:focus, .login-page .login-box .form-control.focus {
  border-color: #ffc107;
}
.login-page .login-box .form-control-feedback {
  color: #ffc107;
}
.login-page .login-box .forgot-password {
  line-height: 34px;
}
.login-page .login-box-body, .login-page .register-box-body {
  border: 2px solid #ffc107;
  border-radius: 10px;
  background: #181F2A;
  padding: 20px;
}

/** end login page css **/
